body {
    font-family: sans-serif;
}
#instructions {
    background-color: paleturquoise;
    padding: 6px;
    margin: 6px;
}
#orderForm {
    width: 75%;
    margin: 20px auto;
}
#receipt {
    background-color: lightgreen;
    color:darkgreen;
    padding: 6px;
}
